<div class="row row-cols row-cols-sm-2 g-4 mt-5">
  <!-- <app-product *ngFor="let product of productList" class="col"></app-product> -->

  <div *ngFor="let product of products" class="col-12 col">
    <div appHighlight class="card">
      <img [src]="product.image" class="card-img-top" />
      <div class="card-body">
        <a routerLink="/products/{{ product.id }}">
          <h5 class="card-title">{{ product.name | uppercase }}</h5>
        </a>

        <p>{{ product.disc }}</p>
      </div>
    </div>
  </div>
</div>
