<div class="row mt-5 justify-content-center">
  <div class="col-md-8">
    <form [formGroup]="notesForm">
      <div class="my-3">
        <input
          formControlName="name"
          [class.is-invalid]="isInvalid(name)"
          [class.is-valid]="isValid(name)"
          type="text"
          class="form-control"
          placeholder="Enter your name..."
        />
      </div>
      <!-- /////////////////////////////////////////// -->
      <div
        [hidden]="name?.valid || name?.untouched"
        class="alert alert-danger"
        role="alert"
      >
        <ng-container *ngIf="name?.errors?.['required']"
          >Name field is Required.</ng-container
        >
        <ng-container *ngIf="name?.errors?.['forbidden']"
          >{{ name?.errors?.['forbidden'].value }} is not allowed.</ng-container
        >
      </div>
      <!--  -->
      <label for="select" class="form-label">Products</label>
      <select
        (change)="resetCheck()"
        class="form-select"
        id="select"
        formControlName="select"
        required
      >
        <option selected disabled value="">Choose...</option>
        <option *ngFor="let product of products" [value]="product.name">
          {{ product.name }}
        </option>
      </select>
      <div
        [hidden]="select?.valid || select?.untouched"
        class="alert alert-danger"
        role="alert"
      >
        <ng-container *ngIf="select?.errors?.['required']"
          >Please select a product.</ng-container
        >
      </div>
      <div [hidden]="!hasDiscount" class="alert alert-success" role="alert">
        {{ hasDiscount }}
      </div>
      <!--  -->
      <div class="my-3 form-check">
        <input
          formControlName="check"
          type="checkbox"
          (click)="checkDiscount()"
          class="form-check-input"
          id="check"
        />
        <label class="form-check-label" for="check"
          >Does this product containd discount</label
        >
      </div>

      <button
        [disabled]="notesForm.invalid"
        [class.btn-danger]="notesForm.invalid"
        [class.btn-success]="notesForm.valid"
        type="submit"
        class="btn btn-primary px-5 my-3"
      >
        login
      </button>
    </form>
    <button (click)="addComment()" class="btn btn-sm btn-success">
      Add comment
    </button>
    <div
      [formGroup]="notesForm"
      *ngFor="let comment of comments['controls']"
      class="my-3"
    >
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Enter your comment..."
      />
    </div>
  </div>
</div>
