/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/dist/css/bootstrap.min.css";

img {
  height: 200px;
  object-fit: cover;
}

.blue {
  background-color: dodgerblue;
}
