<div class="row mt-3 justify-content-center">
  <div class="col-md-6">
    <h3 class="display-3">Register Form</h3>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Username</label>
        <input type="email" class="form-control" id="name" />
      </div>
      <!--  -->
      <div class="mb-3">
        <label for="email" class="form-label">Email </label>
        <input type="email" class="form-control" id="email" />
      </div>
      <!--  -->
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" />
      </div>
      <!--  -->
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" />
      </div>

      <button type="submit" class="btn btn-primary">register</button>
    </form>
  </div>
</div>
