<div class="row mt-3 justify-content-center">
  <div class="col-md-6">
    <div class="card shadow m-3 p-3 p-md-5">
      <h3 class="display-5 mb-5">Register Form</h3>
      <form #registerForm="ngForm" (submit)="signup()">
        <div class="mb-3">
          <label for="name" class="form-label">Username</label>
          <input
            #name="ngModel"
            [class.is-invalid]="name.touched && name.invalid"
            [class.is-valid]="name.touched && name.valid"
            required
            [pattern]="namePattern"
            name="name"
            [(ngModel)]="newUser.name"
            type="email"
            class="form-control"
            id="name"
          />
        </div>
        <!-- /////////////////////////////////////////// -->
        <div
          [hidden]="name.valid || name.untouched"
          class="alert alert-danger"
          role="alert"
        >
          <ng-container *ngIf="name.errors && name.errors['required']"
            >Name field is Required.</ng-container
          >
          <ng-container *ngIf="name.errors && name.errors['pattern']"
            >Invalid, Name must be chars only small or capital.</ng-container
          >
        </div>
        <!--  -->
        <div class="mb-3">
          <label for="email" class="form-label">Email </label>
          <input
            #email="ngModel"
            [class.is-invalid]="email.touched && email.invalid"
            [class.is-valid]="email.touched && email.valid"
            required
            [pattern]="emailPattern"
            name="email"
            [(ngModel)]="newUser.email"
            type="email"
            class="form-control"
            id="email"
          />
        </div>
        <!-- /////////////////////////////////////////// -->
        <div
          [hidden]="email.valid || email.untouched"
          class="alert alert-danger"
          role="alert"
        >
          <ng-container *ngIf="email.errors && email.errors['required']"
            >Email field is Required.</ng-container
          >
          <ng-container *ngIf="email.errors && email.errors['pattern']"
            >Invalid, Please provide a valid Email.</ng-container
          >
        </div>
        <!--  -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            #password="ngModel"
            [class.is-invalid]="password.touched && password.invalid"
            [class.is-valid]="password.touched && password.valid"
            required
            (input)="checkPassword($event)"
            minlength="3"
            maxlength="10"
            name="password"
            [(ngModel)]="newUser.password"
            type="password"
            class="form-control"
            id="password"
          />
        </div>
        <!-- /////////////////////////////////////////// -->
        <div
          [hidden]="password.valid || password.untouched"
          class="alert alert-danger"
          role="alert"
        >
          <ng-container *ngIf="password.errors && password.errors['required']"
            >Password field is Required.</ng-container
          >
          <ng-container *ngIf="password.errors && password.errors['minlength']"
            >You enterd {{ password.errors["minlength"].actualLength }} chars,
            Password must be at least
            {{ password.errors["minlength"].requiredLength }}
            chars.</ng-container
          >
        </div>
        <!--  -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
            #confirmPassword="ngModel"
            [class.is-invalid]="
              confirmPassword.touched && confirmPassword.invalid
            "
            [class.is-valid]="confirmPassword.touched && confirmPassword.valid"
            required
            [pattern]="passRegex"
            minlength="3"
            maxlength="10"
            name="confirmPassword"
            [(ngModel)]="newUser.confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
          />
        </div>
        <!-- /////////////////////////////////////////// -->
        <div
          [hidden]="confirmPassword.valid || confirmPassword.untouched"
          class="alert alert-danger"
          role="alert"
        >
          <ng-container
            *ngIf="confirmPassword.errors && confirmPassword.errors['required']"
            >Confirm Password field is Required.</ng-container
          >
          <ng-container
            *ngIf="
              confirmPassword.errors && confirmPassword.errors['minlength']
            "
            >You enterd
            {{ confirmPassword.errors["minlength"].actualLength }} chars,
            Password must be at least
            {{ confirmPassword.errors["minlength"].requiredLength }}
            chars.</ng-container
          >
          <ng-container
            *ngIf="confirmPassword.errors && confirmPassword.errors['pattern']"
            >Confirm Password Don't match</ng-container
          >
        </div>

        <button
          [disabled]="!registerForm.form.valid"
          [class.btn-danger]="!registerForm.form.valid"
          [class.btn-success]="registerForm.form.valid"
          type="submit"
          class="btn px-5"
        >
          Register
        </button>
      </form>
    </div>
  </div>
</div>
